@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Libre+Franklin:wght@600&family=Noto+Serif:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");

  background-attachment: fixed;
  background-size: cover;
}
/* Utility Classes */

.fee {
  color: #f4f4f4;
  font-size: 1.2rem;
}
h5 {
  margin-bottom: 1.5rem;
}
.desc-p {
  padding: 1rem;
  height: 20rem;
}
.mar-1 {
  margin: 1rem 0;
}
.main-heading {
  font-family: "Noto Serif", serif;
  color: #8860d0 ;
}
.main-span {
  color:   #5680E9;
  text-decoration: underline;
}
.heading-sub {
  color: #8860d0;
  font-family: "IBM Plex Sans", sans-serif;
}
.description {
  padding: 2rem 2rem;
  border: 1px solid #8860d0;
  border-radius: 0.25rem;
}
.special {
  background: #8860d0;
  color: #fff;
}
.logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding: 0 0.315rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 5px 10px #333333;
}
.main .container .logo:hover {
  color: #8860d0;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: 0.5s ease;
}
.heading-common h1 {
  color: #8860d0;
  font-family: "Marmelad", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: left;
  margin: 2rem 0;
}
.credentials {
  font-family: "IBM Plex Sans", sans-serif;
  color: #333;
}
.label {
  color: #5680E9;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
}
.welcome-heading {
  text-align: left;
  font-size: 2rem;
  color: #5680E9;
  font-family: "IBM Plex Sans", sans-serif;
}
.special-btn {
  border: 2px solid #8860d0;
  color: #5680E9;
}
.profile-btn {
  margin: 1rem 0;
  width: 25vh;
}
.profile-heading {
  font-size: 2rem;
  color: #8860d0;
  font-family: "IBM Plex Sans", sans-serif;
}
.style-heading {
  font-size: 2rem;
  color: #8860d0;
  font-family: "IBM Plex Sans", sans-serif;
}
.profile-top-heading {
  font-size: 3rem;
  font-family: "Marmelad", sans-serif;
  color: #f4f4f4;
  text-shadow: 1px 5px 10px #5680E9;
}
.profile-top-desc {
  font-weight: 700;
  font-size: 1.8rem;
  font-family: "Marmelad", sans-serif;
  color: #f4f4f4;
}
.logos {
  color: #fff;
  margin-top: 2rem;
}
.round-img {
  border-radius: 50%;
}
.profile-top-p {
  font-size: 1.3rem;
  color: #f4f4f4;
  font-family: "IBM Plex Sans", sans-serif;
}

.profile-p {
  color: #5680E9;
  font-family: "Prata", serif;
}
.profile-p2 {
  font-family: "IBM Plex Sans", sans-serif;
}
.heading-bio {
  text-align: center;
  color: #8860d0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.bio-p {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}
.appointment-p {
  padding: 1rem;
}
.top-img {
  margin: 2rem auto;
}
.lead {
  font-size: 1rem;
  color: #5ab9ea;
}

/* Navbar */
.main {
  font-family: "IBM Plex Sans", sans-serif;
  opacity: 0.9;
}
.nav-item {
  margin-right: 0.5rem;
}
.logos {
  display: flex;
  justify-content: center;
}
.nav-logo {
  text-decoration: none;
  cursor: pointer;
  font-family: "Marmelad", sans-serif;
  font-size: 1.85rem;
  color: #d5f5f8;
}
.nav-logo:hover {
  color: #ccc;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.logo:hover {
  color: #5680E9;
}
.navbar-dark .navbar-nav .active > .nav-link {
  font-size: 1.1rem;
}
.navbar-dark .navbar-nav .active > .nav-link:hover {
  color: #8860d0;
}
.nav-log-img:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  bottom: 1px;
}
/* Landing */
#landing .container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "heading    img"
    "signup     img";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.heading {
  grid-area: heading;
  height: 35vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
}
.signup {
  grid-area: signup;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "doctor user";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.doctor-signup {
  grid-area: doctor;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user-signup {
  grid-area: user;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.img {
  /* background-color: lightgreen; */
  grid-area: img;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "pic1";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.img-1 {
  grid-area: pic1;
  align-self: center;
  width: 100%;
}
.img-1 img {
  width: 100%;
  height: auto;
}

/* Login Page */
/* Login Page and register page */

.common-form {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "form-side    img-side"
    "form-side     img-side";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.form-side {
  grid-area: form-side;
  align-self: center;
}
.form-side .heading-common {
  align-self: baseline;
}
.img-side {
  grid-area: img-side;
  align-self: center;
}
.register-user {
  width: 80vh;
}
/* End of login and register page */

.add-edit-btn {
  display: flex;
  margin: 1.9rem auto;
}
.add-edit-btn > a {
  margin-right: 1rem;
}
.common-table {
  width: 50rem;
  border-radius: 0.25rem;
}
.scroll-table {
  height: 15rem;
  border: 2px solid #5680E9;
  overflow: auto;
  border-radius: 0.25rem;
}
.table {
  border-radius: 0.5rem;
}

.table thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
}
.table th,
.table td {
  font-family: "IBM Plex Sans", sans-serif;
  padding: 1rem 0;
  text-align: center;
  background-color: #f4f4f4;
}
.table th {
  font-size: 1.25rem;
  background: #5680E9;
  vertical-align: baseline;
  color: #f4f4f4;
}
.review-graph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "common-details common-details";
  grid-column-gap: 1rem;
}

.common-details {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

#profiles-page .profiles {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: normal;
}
.profile-1 {
  grid-area: profile-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "profile-img profile-details profile-buttons";
  grid-column-gap: 10px;
  background-color: lightgray;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.profile-img {
  grid-area: profile-img;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.profile-img > img {
  border-radius: 50%;
  margin: 2rem auto;
}
.profile-img a img {
  border-radius: 50%;
  margin: 2rem auto;
}
.profile-details {
  grid-area: profile-details;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}
.profile-buttons {
  grid-area: profile-buttons;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}
#profile-page .current-profile {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "current-btn"
    "top-profile"
    "bio"
    "exp-edu"
    "review";
  grid-row-gap: 16px;
}
.current-btn {
  grid-area: current-btn;
}
.current-btn a {
  margin-right: 0.5rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.top-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #8860d0;
  border-radius: 0.25rem;
  padding: 2rem 2rem;
}
.top-profile-img {
  grid-area: top-profile-img;
  width: 70vh;
}
.details {
  text-align: left;
}
.top-bio {
  grid-area: bio;
  background-color: #f4f4f4;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  box-shadow: 1px 5px 10px #5680E9;
}
.exp-edu {
  grid-area: exp-edu;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "exp edu";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}
.exp-common-heading {
  color: #8860d0;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 1.5rem;
}
.exp-common-details {
  font-family: "IBM Plex Sans", sans-serif;
}
.exp-bottom {
  grid-area: exp;
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #5680E9;
}
.edu-bottom {
  grid-area: edu;
  background-color: #f4f4f4;
  padding: 2rem;
  border: 1px solid #5680E9;
  border-radius: 0.25rem;
}
.patient-review {
  grid-area: review;
}

.text-area {
  display: block;
  width: 100%;
  padding: 0.4rem;
  margin: 1rem auto;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.current-review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "img-user user-review user-review user-review";
  grid-column-gap: 1rem;
  border: 2px solid #5680E9;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 1rem auto;
}
.img-user {
  grid-area: img-user;
  padding: 1rem;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #8860d0;
  font-weight: bold;
}
.user-pic {
  margin-bottom: 1rem;
  width: 100px;
}
.user-review {
  grid-area: user-review;
  padding: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.post-date {
  font-size: 0.9rem;
  color: #5680E9;
}

.modal-body .profiles .profile-details,
.modal-body .profiles .profile-buttons {
  text-align: center;
}

.modal-body .profiles .profile-1 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "profile-img"
    "profile-details"
    "profile-buttons";
}

.carousel-item {
  text-align: center;
  padding: 5% 15%;
}

#testimonials {
  width: auto;
  text-align: center;
  background-color: #8860d0;
  border-radius: 0.25rem;
  padding: 2rem 3rem;
  border: 2px solid #5680E9;
}
.scroll {
  height: 15rem;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.scroll .card .card-img-top {
  margin-top: 1rem;
  align-self: center;
  width: 100px;
  border-radius: 50%;
}
.scroll .card {
  width: 10rem;
  margin-bottom: 2rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.scroll .card em {
  font-family: "IBM Plex Sans", sans-serif;
  color: #8860d0;
  font-weight: bold;
}
#graph {
  width: auto;
  height: auto;
  text-align: center;
  background-color: #333;
  border-radius: 0.25rem;
}
.user-graph {
  display: flex;
  flex-direction: column;
  height: 19.3rem;
  justify-content: center;
  border: 2px solid #8860d0;
  border-radius: 0.25rem;
}

.appointment-doctor {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem 0;
}
.appointment-img {
  width: 5rem;
  margin-right: 1rem;
}
.appointment-doctor p {
  align-self: center;
  font-weight: 500;
}

/* Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .appointment-p {
    text-align: center;
  }
  .welcome-heading {
    font-size: 1.5rem;
  }
  .common-table {
    width: auto;
  }
  #landing .container {
    grid-template-areas:
      "heading   heading"
      "img        img"
      "signup     signup";
  }
  #profiles-page .profiles {
    text-align: center;
    justify-content: normal;
  }
  .profile-1 {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "profile-img"
      "profile-details"
      "profile-buttons";
    grid-column-gap: 0px;
    margin-bottom: 1rem;
  }
  .profile-2 {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "profile-img"
      "profile-details"
      "profile-buttons";
    grid-column-gap: 0px;
    margin-bottom: 1rem;
  }
  .review-graph {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "common-details" "common-details"
      "common-details ";
    grid-row-gap: 1rem;
  }
  .profile-desc {
    text-align: center;
    padding: 2rem;
  }
  .desc-p {
    text-align: center;
  }
  .desc-p .profile-btn {
    align-self: center;
  }
  .heading-common h1 {
    font-size: 3rem;
  }
  .common-form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "img-side"
      "img-side"
      "form-side"
      "form-side";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .register-user {
    width: 40vh;
  }
  .top-profile {
    flex-direction: column;
  }
  .top-profile {
    flex-direction: column;
  }
  .top-profile-img {
    display: none;
  }
}
/* Smart Phones */
@media (max-width: 575.98px) {
  .appointment-p {
    text-align: center;
  }
  .welcome-heading {
    font-size: 1.5rem;
  }
  #landing .container {
    grid-template-areas:
      "heading   heading"
      "img        img"
      "signup     signup";
  }
  .common-table {
    width: auto;
  }
  #profiles-page .profiles {
    text-align: center;
    justify-content: normal;
  }
  .profile-1 {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "profile-img"
      "profile-details"
      "profile-buttons";
    grid-column-gap: 0px;
    margin-bottom: 1rem;
  }
  .profile-2 {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "profile-img"
      "profile-details"
      "profile-buttons";
    grid-column-gap: 0px;
    margin-bottom: 1rem;
  }
  #profile-page .current-profile {
    grid-template-columns: repeat(1, 1fr);
  }
  .exp-edu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "exp"
      "edu";
  }
  .current-review {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "img-user "
      "user-review";
  }
  .review-graph {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "common-details"
      "common-details";
    grid-row-gap: 1rem;
  }
  #profile-page .container {
    display: flex;
    justify-content: center;
  }
  .current-btn {
    display: flex;
    justify-content: space-around;
    height: 10rem;
    flex-direction: column;
  }
  .profile-desc {
    text-align: center;
    padding: 1rem;
  }
  .desc-p {
    text-align: center;
  }
  .desc-p .profile-btn {
    align-self: center;
  }
  .heading-common h1 {
    font-size: 3rem;
  }
  .common-form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "img-side"
      "img-side"
      "form-side"
      "form-side";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .register-user {
    width: 40vh;
  }
  .top-profile {
    width: 366px;
    height: auto;
    flex-direction: column;
  }
  .details {
    text-align: center;
  }
  .top-img {
    text-align: center;
  }
  .top-profile-img {
    display: none;
  }
  .current-btn a {
    margin: 0 1rem;
  }
}

/* Smart Phones in Landscape */
@media (max-height: 500px) {
  .heading-common h1 {
    font-size: 3rem;
  }
  .appointment-p {
    text-align: center;
  }
  #landing .container {
    grid-template-areas:
      "heading   heading"
      "img        img"
      "signup     signup";
  }
  .common-table {
    width: auto;
  }
  .profile-btn {
    font-size: 0.8rem;
  }
  .review-graph {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "common-details" "common-details"
      "common-details ";
    grid-row-gap: 1rem;
  }
  .profile-desc {
    text-align: center;
    padding: 2rem;
  }

  .desc-p {
    text-align: center;
  }
  .desc-p .profile-btn {
    align-self: center;
  }
  .common-form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "img-side"
      "form-side";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .img-side {
    display: flex;
    justify-content: flex-end;
  }
  .register-user {
    width: 100vh;
    z-index: -1;
  }
  .top-profile {
    flex-direction: column;
  }
  .top-profile-img {
    display: none;
  }
}
